<html>
<title>Location Details</title>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="location-form">
        <h3>Add location</h3>
        <form method="POST" action="/getZipcodeDetails">
            <div class="form-group">
                <!-- <label for="exampleInputEmail1">ZipCode</label> -->
                <input class="form-control" name="zipcode" placeholder="Enter ZipCode">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>